---
- hosts: server
  become: true
  gather_facts: false
  tasks:
  - name: install ifupdown
    apt:
      name: ifupdown
      state: present
      update_cache: true

  - name: Add bonding module
    modprobe:
      name: bonding
      state: present

  - name: Add ifenslave
    apt:
      name: ifenslave
      state: present

  - name: Remove netplan
    apt:
      name: netplan.io
      state: absent

  - name: Install FRR key
    apt_key:
      url: https://deb.frrouting.org/frr/keys.asc
      state: present

  - name: Add FRR apt repository
    apt_repository:
      repo: deb https://deb.frrouting.org/frr bionic frr-stable
      state: present

  - name: Install FRR
    apt:
      name:
        - frr
        - frr-pythontools
      update_cache: yes

  - name: copy generate_traffic script to target host
    copy: src=./configs/{{inventory_hostname}}/generate_traffic.sh dest=/root/generate_traffic.sh

  - name: generate traffic periodically with cronjob
    cron: minute="3" hour="*" day="*" month="*" weekday="*"
          name="send icmp traffic to all leaf nodes every 3 minutes"
          cron_file="generate_traffic"
          user="root"
          job="/root/generate_traffic.sh"

  - name: Copy interfaces template
    copy: src=./configs/{{inventory_hostname}}/interfaces dest=/etc/network/interfaces

  - name: copy init script to target host
    copy: src=./configs/{{inventory_hostname}}/init.sh dest=/root/init.sh

  - name: run init script
    command: bash /root/init.sh

  - name: Restore FRR daemons
    copy: src=./configs/{{inventory_hostname}}/daemons dest=/etc/frr/daemons

  - name: Restore FRR configs
    copy: src=./configs/{{inventory_hostname}}/frr.conf dest=/etc/frr/frr.conf
    notify: restart frr


  handlers:
  - name: restart frr
    service:
      name: frr
      state: restarted
    listen: restart frr
